<launch>
    <arg name="live"        default="true"/>
    <arg name="use_victor"  default="false"/>
    <arg name="use_val"     default="false"/>

    <include file="$(find lightweight_vicon_bridge)/launch/vicon_bridge.launch" if="$(arg live)">
        <arg name="use_sim_time" value="false"/>
    </include>

    <include file="$(find physical_robot_3d_rope_shim)/launch/vicon_transform_replacements.launch" unless="$(arg live)">
        <arg name="use_sim_time"    value="false"/>
    </include>
</launch>
