<launch>
    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(find arm_robots)/config/val_rosconsole.conf"/>

    <arg name="gui" default="true"/>
    <arg name="verbose" default="false"/>

    <arg name="world_name" default="$(find arm_robots)/world/val_plant.world"/>

    <!-- Start gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- Gazebo's code assumes HOME is set to something -->
        <env name="HOME" value="/home/armlab"/>
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="false"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="use_sim_time" value="false"/>
    </include>

    <!-- to let moveit send trajectories with the real robot -->
    <include file="$(find arm_robots)/launch/trajectory_follower.launch">
        <arg name="use_val" value="true"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" ns="hdt_michigan"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find arm_robots)/rviz/val.rviz"/>

    <!-- ROS control for real hdt_michigan, does nothing at the moment -->
    <include file="$(find hdt_michigan_control)/launch/hdt_michigan_control.launch">
        <arg name="robot_namespace" value="hdt_michigan"/>
    </include>

    <!-- Move it-->
    <include ns="hdt_michigan" file="$(find hdt_michigan_moveit)/launch/move_group.launch">
        <arg name="load_robot_description" value="true"/>
        <arg name="with_husky" value="false"/>
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="moveit_controller_manager" value="real"/>
    </include>

    <include file="$(find hdt_michigan_control)/launch/joint_control_filter_off_husky.launch"/>
</launch>
