<launch>
    <node pkg="arm_robots" type="hand_tf_broadcaster.py"
        name="hand_tf_broadcaster" />
    <include file="$(find lightweight_vicon_bridge)/launch/vicon_bridge.launch" />
    <include file="$(find arm_robots)/launch/val.launch" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find arm_robots)/config/config_val_cal.rviz"/>
</launch>